.filter{
  background-color: #302e40;
  
}
.dropdown-toggle{
  color:#ffffff;
}

.btn-primary {
  background-color: #394cff;
  color: #ffffff;
}

.btn-primary:hover{
  background-color: darkblue;
}
.btn-success{
  background-color: #394cff;
}
.btn-success:hover{
  background-color:darkblue;
}


.student-info{
  color: #302e40;
}

.student{
 background-color:  #302e40;
}

.filterSelected{
  color: #ff0b73;

}
.student-image{
  border-bottom-color: #ff0b73;
}
.student-name{
text-align: center;
}